.center {
    margin: auto;
    margin-top: 50px;
    width: 70%;

}

.table {
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
}

th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}

tr.mat-cell {
    align-self: center;
    justify-content: center;
    justify-self: center;
    margin-top: 10px;
}